.m-tendency {
  background-color: white;
  box-shadow: 0px 3px 12px rgba(#000, .05);
  border-radius: 3px;
  padding: 18px;
  margin: 24px 0 0;

  &__title {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 8px;
  }
  
  &__current-rate {
    font-size: 16px;
    font-weight: 600;

    span {
      font-size: 14px;
      opacity: .5;
    }
  }

  &__total-growth {
    margin: 0 0 0 12px;
    font-size: 14px;
  }

  &--succes {
    
    .m-tendency__total-growth {
      color: green;
    }
  }

  &--warning {
    
    .m-tendency__total-growth {
      color: red;
    }
  }
}