select {
  height: 45px;
  appearance: none;
  border: none;
  border-radius: 3px;
  border: 1px solid #c8c8c8;
  font-size: 13px;
  font-weight: 600;
  padding: 0 18px;
  width: 100%;
  background-image: url(../../assets/icons/cheveron-down.png);
  background-size: 8px;
  background-position: right 18px center;
  background-repeat: no-repeat;
  background-color: white;

  @media screen and (min-width: 767px) {
    width: auto;
    flex-shrink: 1;
    flex-grow: 1;
  }

  &:hover {
    cursor: pointer;
    opacity: .75;
  }

  option {
    font-weight: 300;
  }
}